		<div class="iStoreBox">
			<div class="iStoreBoxWrapper">
				<div class="iStoreBoxContent">

					<div class="iStoreFooterBox footerSection1">
						<h3>{t}Warunki zakupów{/t}</h3>
					</div>
					<div class="iStoreFooterBox footerSection2">
						<h3>{t}Informacje o sklepie{/t}</h3>
					</div>
					<div class="iStoreFooterBox footerSection3">
						<h3>{t}Bezpieczeństwo{/t}</h3>
					</div>
					<div class="iStoreFooterBox footerSection4">

					</div>
					
					<div class="iStoreFooterBox footerSection5">

					</div>
					
					<div class="iStoreFooterBox footerSection6 copyrights">
						<a class="upLink" href="#iStoreStatusBarWrapper" title="{t}Do góry{/t}">{t}Do góry{/t}</a>
						<p><span class="iStoreManageShopLabel">{t}Podmiot prowadzący sklep:{/t}</span> {$Shop.Name}, {$Shop.Street}, {$Shop.PostCode} {$Shop.City}</p>
						<p><a href="http://www.istore.pl/" target="_blank" title="oprogramowanie dla sklepów internetowych" rel="nofollow">{t}Sklep internetowy{/t}</a> {t}oparty na oprogramowaniu{/t} <strong>iStore</strong></p>
					</div>

					<div class="iStoreFooterBox footerSection7">

					</div>
					<div id="iStoreCookies">
						<img src="{$imgPath}/iconwarning.jpg" />
						<p>Strona korzysta z plików cookies w celu realizacji usług i zgodnie z <a href="http://istore.net.pl/pliki/pdf/iStore_-_informacja_o_cookies.pdf" rel="nofollow">Polityką Plików Cookies</a>. Możesz określić warunki przechowywania lub dostępu do plików cookies w Twojej przeglądarce.</p>
			        </div>
				</div>
        	
			</div>
      	
		</div>
    