		<div class="iStoreBox" id="iStoreNewsletterBox">
			<div class="iStoreBoxWrapper">
				<div class="iStoreBoxHeader">
				</div>  
				<div class="iStoreBoxContent">
				  <form method="get" id="iStoreShopNewsletter">
					<div class="text" id="iStoreShopNewsletterToAddress">
						<label for="toadres">{t}wpisz adres e-mail{/t}:</label>
						<input name="toadres" id="toadres" size="20" maxlength="45" type="text" class="input" />
						<button type="submit" class="submit">OK</button>
					</div>
					<div class="radio" id="iStoreShopNewsletterStatus">
						<input name="status" id="statusT" value="T" checked="checked" class="radio" type="radio" /><label for="statusT">{t}zapisz{/t}</label>
						<input name="status" id="statusN" value="N" class="radio" type="radio" /><label for="statusN">{t}wypisz{/t}</label>
					</div>	
				</form>
			</div>
		</div>
	</div>
