	<div id="iStoreToolbar">
		<div class="iStoreBox" id="iStoreToolbarMenu">
			<div class="iStoreBoxWrapper">
				<div class="iStoreBoxContent">	
					<ul>
						<li id="iStoreToolbarMenuMain" <a href="" title="{t}Strona główna w sklepie{/t}">{t}Strona główna{/t}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="iStoreBox" id="iStoreBasket">
			<div class="iStoreBoxWrapper">
				<div class="iStoreBoxContent" id="clienttemplatebasketpreview">	
				
				</div>
			</div>
		</div>
	</div>
